.texto {
    text-align: left;
    font-size: 15px;
    color:black;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif
}
.porcentaje{
    position: absolute;
    right: 1.9em;
   
}
.prueba{
    background-color: red;
}
.style0{
    color: red;
}
.style10{
    color: green;
}